

  .nav-lg .top_nav {
    margin-left: 0px !important;
}

.nav-lg footer {
    margin-left: 0px !important;
}

.nav-lg .left_col {
    display: none !important;
}

.nav-lg .right_col {
    margin-left: 0px !important;
}